.main {
    &__content {
          display: flex;
          justify-content: center;
      }
  
      &__title {
          padding: 25px 0 40px;
      }
  
      &__text {
          display: flex;
          justify-content: center;
      }
  
      &__tittle--text {
          color: #909090;
          font-size: 22px;
      }
  
      &__text--title {
          font-size: px;
      }
  }