.search {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1560px;
	padding: 0 14.5vw;
	background-color:#595959;

	&__list {
		display: flex;
	}
	
	&__item {
		padding: 0 10px;
		list-style: none;
	}

	&__item--text {
		color: white;
		font-size: 16px;
	}

	&__selects option {
		background-color: black;
		color: white;
	}

	&__input {
		background-color: #909090;
		outline: none;
		padding: 5px 0;
		width: 300px;
		border: 1px solid transparent;

		&::placeholder {
			color: white;
		}
	}

	&__button {
		background-color: #909090;
		color: white;
		padding: 5px;
		outline-style: none;
		border: 1px solid transparent;
	}
}